[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/JubiterSDK_Common_pb"]
	path = deps/JubiterSDK_Common_pb
	url = https://github.com/JubiterWallet/JubiterSDK_Common_pb.git
	branch = v3.9.1
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "uint256_t"]
	path = uint256_t
	url = https://github.com/calccrypto/uint256_t.git
